.land-holder{
    width: 100%;
    height: 140vh;
    position: relative;
    overflow-x: hidden;
}

.color-holder{
    background: #444;
    position: absolute;
    width: 350px;
    height: 80vh;
    border-radius: 5px;
    margin-top: 50px;
    margin-left: 120px;
}

.font-holder{
    display: flex;
    flex-direction: column;
    color: white;
    margin-top: 500px;
    margin-left: 70px;
}

.font-but-1,.font-but-2{
    width: 35px;
    height: 35px;
}

.font-1{
    font-size: 30px;
}

.font-2{
    font-size: 30px;
}


.land-img{
    display: flex;
    position: absolute;
    margin-top: 85vh;
    margin-left: 80vh;
}

.overley-1{
    background: linear-gradient(rgba(0, 3, 27,0.3),rgba(0,0,0,0.5));
    position: absolute;
    width: 350px;
    height: 200px;
    margin-top: -205px;
    border-radius: 6px;
    margin-left: 20px;
}

.overley-2{
    background: linear-gradient(rgba(0, 3, 27,0.3),rgba(0,0,0,0.5));
    position: absolute;
    width: 350px;
    height: 200px;
    margin-top: -205px;
    border-radius: 6px;
    margin-left: 50px;
}


.land-img-1 img{
    width: 350px;
    height: 200px;
    border-radius: 6px;
    margin-left: 20px;
}

.land-img-2 img{
    width: 350px;
    height: 200px;
    border-radius: 6px;
    margin-left: 50px;
}

.title-1{
    position: absolute;
    margin-top: -140px;
    padding: 6px 10px;
    color: white;
    background: rgb(0, 3, 27);
    border-radius: 5px;
}

.title-3{
    position: absolute;
    margin-top: -140px;
    margin-left: 35px;
    padding: 6px 10px;
    color: white;
    background: rgb(0, 3, 27);
    border-radius: 5px;
}

.title-2{
    position: absolute;
    margin-top: -100px;
    margin-left: 25px;
    font-size: 15px;
    color: white;
    border-radius: 5px;
}

.title-4{
    position: absolute;
    margin-top: -100px;
    margin-left: 55px;
    font-size: 15px;
    color: white;
    border-radius: 5px;
}

/* styling of slider starting */

.slider{
    position: absolute;
    width: 60%;
    height: 50vh;
    margin-top: 120px;
    margin-left: 290px;
}


.change{
    display: flex;
    align-items: center;
}

.change img{
    height: 60vh;
    width: 350px;
    border-radius: 15px;

}

.change h1{
    font-size: 55px;
    color: #444;
}

.change h5{
    font-size: 18px;
    color: #444;
}


.change-des{
    width: 340px;
    margin-left: 40px;
    color: white;
}

.top-btn{
    padding: 8px 14px;
    border: 0;
    font-size: 12px;
    font-weight: 600;
    background-color: rgb(14, 22, 80);
    color: white;
    border-radius: 4px;
    transition: 0.3s ease-in;
}

.top-btn:hover{
    background-color: rgb(24, 56, 240);
}



.btm-btn{
    padding: 8px 14px;
    border: 0;
    font-size: 12px;
    font-weight: 600;
    background: linear-gradient(rgba(3, 8, 68,0.5),rgba(0,0,0,0.7));
    color: white;
    margin-top: 20px;
    border-radius: 4px;
    transition: 0.3s ease-in;
}

.btm-btn:hover{
    background: rgb(0, 3, 27);
}

/* styling of slider ends here */










@media  screen and (max-width:420px){
    .land-holder{
        width: 100%;
        height: 90vh;
        /* background-color:rgba(3, 8, 68,0.9); */
        margin-top: 0;
        margin-left: 0px;
        margin-bottom: 10px;
        overflow-x: hidden;
    }
    .color-holder{
        width: 55%;
        background: rgb(1, 12, 46);
        height: 60vh;
        margin-top: 30px;
        margin-left: 20px;
        border-radius: 8px;
    }

    .font-holder{
        color: rgb(255, 255, 255);
        /* padding: 0px 6px 8px 6px; */
        border-radius: 7px;
        display:flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-top: 60vh;
        margin-left: 45%;
        /* z-index: 10; */
    }

    .font-but-1,.font-but-2{
        height: 20px;
        width: 20px;
    }

    .font-1,.font-2{
        font-weight: 300;
        font-size: 15px;
    }

    .slider{
        position: absolute;
        width: 75%;
        height: 50vh;
        margin-top: 60px;
        margin-left: 20%;
    }

    .change{
        display:unset;
        /* align-items: center; */
    }

    .change img{
        width: 100%;
        height: 50vh;
        border-radius: 8px;
    }

    .change-des{
        position: relative;
        width: 310px;
        margin: -340px auto;
        background: rgba(14, 14, 49, 0);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(4px);
        -webkit-backdrop-filter: blur(0px);
        border: 1px solid rgba(47, 47, 98, 0.67);
    }


    .change-des h1{
        font-size: 45px;
        color: white;
        margin-top: 5px;
        margin-left: 5px;
    }

    .change-des h5{
        font-size: 15px;
        color: white;
        margin-left: 5px;
    }
    .top-btn{
        margin-top: 10px;
        margin-left: 10px;
        background-color: white;
        color: black;
    }

    .top-btn:hover{
        background-color: #efefef;
        color: black;
    }

    .btm-btn{
        margin-bottom: 10px;
        margin-left: 10px;
        background: rgb(31, 2, 2);
        color: white;
    }

    .btm-btn:hover{
        background: white;
        color: black;
    }

    
    /* .land-img{
        display: flex;
        flex-direction: column;
        position: absolute;
        margin-top: 60vh;
        margin-left: 0;
        margin-bottom: 0px;
    } */



}