.holder{
    width: 100%;
    margin: 70px auto;
    padding: 2px 4px;
    background:linear-gradient(to left,#4c4d92,rgb(56, 138, 177));
    height: auto;
    border-radius: 10px;
}

.holder h1{
  color: white;
}

.comment-holder{
    display: grid;
    grid-template-columns: auto auto auto;
    margin-top: 25px;
}


@media screen and (max-width:414px){
    .holder h1{
        font-size: 20px;
    }

    .comment-holder{
        display: grid;
        grid-template-columns: 1fr;
    }
}




.comment-card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    background:linear-gradient(to left,#2e2f57,rgb(6, 66, 93));
  }
  
  .comment-header {
    display: flex;
    align-items: center;
    color: white;
  }
  
  .comment-header img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .user-name {
    font-size: 20px;
    color: white;
    margin: 0;
  }
  
  .comment-date {
    margin: 0 0 0 auto;
    color: white;
  }
  
  .comment-text {
    margin-top: 10px;
    font-size: 16px;
    line-height: 1.5;
    color: white;
  }

  .paginationa {
    display: flex;
    justify-content: center;
    margin: 20px 0;
    margin-bottom: 10px;
  }
  
  .pagination-item {
    display: inline-block;
    padding: 4px 8px;
    margin: 0 5px;
    border-radius: 5px;
    background-color: #ccc;
    color: #fff;
    text-decoration: none;
    transition: background-color 0.3s ease;
  }
  
  .pagination-item:hover {
    background-color: #666;
  }
  
  .pagination-item.active {
    background-color: #333;
    font-weight: bold;
  }
  