.modal-holder{
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(255, 255, 255,0.3),rgba(0,0,0,0.4));
    position: fixed;
    top: -100%;
    left: 0;
    transition: .2s all ease-in;
}

.modal-holder.mod-on{
    top:0;
    transition: .2s all ease-in;
}

.modal-content{
    width: 100%;
    top: -155%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    height: auto;
    width: 420px;
    border-radius: 8px;
    background-color: rgb(11, 7, 70);
    transition: .5s all ease-in;
}
.modal-content.mod-con-on{
    top: 55%;
    transition: .5s all ease-in;
}

.modal-btn{
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    margin-left: 90%;
}

@media  screen and (max-width:680px){
    .modal-content{
        width: 95%;
    }
}