.postBlogHolder{
    width: 100%;
    padding-left: 20px;
}

.postBlogHolder h1{
    color: white;
    font-size: 55px;
}

.postBlogHolder Form{
    margin-top: 30px;
}


.postBlogHolder .course-in{
    width: 1120px;
}

.postBlogHolder .add-in-btn{
    margin-top: 20px;
}

input::placeholder {
    color: white; 
}
textarea::placeholder {
    color: white; 
}



@media screen and (max-width:420px){
    .postBlogHolder .course-in{
        width: 100%;
    }
}