*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

 .Courses-holder{
    margin-top: 60px;
 }

.single-course{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    /* padding-left: 15px; */
    padding-top: 35px;
    margin-bottom: 20px;
}



@media screen and (max-width:420px){
    .Courses-holder{
        overflow-x: hidden;
    }
    .Courses-heading{
        margin-top: 40px;
        height: 30vh;
        width: 98%;
        margin: 50px auto;
    }

    .Courses-heading-text{
        text-align: center;
        justify-content: center;
        top: 33%;
        left: 28%;
        transform: translate(-50%, -50%);
        text-align: center;
     }
     
     .Courses-heading-text h1{
         font-size: 65px;
         font-weight: 200;
         color: rgb(255, 255, 255);
         margin-top: -235px;
         font-family: serif;
     }
     

    .single-course{
        display: grid;
        grid-template-columns: none;
    }
}