

.containerr:nth-child(5){
    animation-delay: 5s;
}

.div-1-btn{
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 15px 30px;
    background: linear-gradient(rgb(7, 13, 100),rgba(17, 86, 235));
    color: white;
    border: 0;
    font-weight: 700;
    font-size: 20px;
    padding: 8px 20px;
    transition: all 0.2s ease-in-out;
}

.div-1-btn:hover{
    background: linear-gradient(rgba(196, 11, 113, 0.6),rgb(3, 5, 37));
    transition: all 0.2s ease-in-out;
}
